[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymongo = "*"
django-cors-headers = "*"
django-rq = "*"
requests = "*"
transformers = "*"
torch = "*"
sentencepiece = "*"
pysub-parser = "*"
pandas = "*"
protobuf = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
